$body-bg: #01051e;
$body-color: #fff;
$primary-color: #29ccc4;

$font-size-base: 0.9rem;
$font-family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif;

$theme-colors: (
  "primary": $primary-color,
  "dark": lighten($body-bg, 2),
);
